*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

body{
	overflow: hidden;
}

.hero{
	width: 100%;
	height: 100vh;
	/* min-height: 100vh; */
	background-image: url(bright.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav{
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	position: fixed;
}
.logo{
	padding-right: 10%;
	color: white;
	font-size: 45px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #eb7134;
}
nav{
	width: 100%;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #eb7134;
	transition: .4s;
}
.btn{
	background-color:#eb7134;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 30px;
	transition: transform .4s;
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h2{
	color: white;
	font-size: 25px;
	margin-bottom: 35px;
}
.hi{
	color: white;
	font-size: 25px;
	margin-bottom: 35px;
}

h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.about{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 20%;
}
.about-text{
	margin-top: 7%;
	width: 60vw;
}
.main{
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 45px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: #eb7134;
	line-height: 1.5;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;

}
.about-text p{

	/* color: #fcfc; */
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 22px;
	right: 0;
	margin-bottom: 20px;

}

button{
	background-color:#eb7134;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 7px 13px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border: 2px solid #eb7134;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #eb7134;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#eb7134;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #eb7134;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 100vh;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#eb7134;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #eb7134;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background:  #eb7134; */
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

#linkedin {
	background-color: #0072b1;
}

#facebook {
	background-color: #4267B2;
}

#github {
	background-color: #171515;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#eb7134;
	bottom: 35px;
	font-size: 14px;
}


.content {
  margin-bottom: 40px;
}

.content h1 {
  color: white;
  font-size: 47px;
  font-weight: 900;
  line-height: .5;
  margin: 20px 0 35px;
}

span {
  color: #2ecc71;
}

.po{
	color: #eb7134;
}

.content h2 {
  color: #eee;
  font-weight: 400;
  font-size: 40px;
}

.content p, .about p {
  color: #eee;
  width: 800;
  max-width: 800px;
  line-height: 1;
  font-size: 20px;
  margin-bottom: 8px;
}


.content button {
  color: #eee;
  background: #eb7134;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  padding: 7px 14px;
  border-radius: 30px;
  cursor: pointer;
}

.content button:hover {
  color: #eb7134;
  background: transparent;
  border: 2px solid #eb7134;
  transition: .4s;
}

html {
  scroll-behavior: smooth;
}

.space {
	padding-right: 5px;;
}

tr {
	/* font-family: Arial, Helvetica, sans-serif; */
	height: 40px;
}

table {
	color: #2ecc71;
	margin-top: 40px;
	font-family: serif;
	border-collapse: separate;
	border-spacing: 40px 20px;
}
